{
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react"],
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "shallow": true,
    "shallowWithContext": true,
    "Feature": true,
    "Scenario": true,
    "within": true
  }
}
