{
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jquery": true
    "es6": true
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "printWidth": 120}]
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "shallow": true,
    "shallowWithContext": true,
    "Feature": true,
    "Scenario": true,
    within: true
  }
}
