.Login {
}

.Login__form {
  padding: 0px 40px 20px;
}

.Login__form__signIn {
  margin-top: 10px;
}

.Login__form__notification {
  padding: 15px;
  margin-top: 20px;
  color: white;
}

.Login__form__notification__icon {
  margin-right: 5px;
}

.Login__form__notification__message {
  vertical-align: super;
}
