.Login__form {
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Login__form__signIn {
  margin-top: 10px;
}

.Login__form__notification {
  padding: 15px;
  margin-top: 20px;
}

.Login__form__notification__icon {
  margin-right: 5px;
}

.Login__form__notification__message {
  vertical-align: super;
  color: white;
}
