.Login__form {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.Login__form__field {
  margin-bottom: 10px;
}

.Login__form__signIn {
  margin-top: 10px;
}
