.NameListOrganiser {
  margin: 0px 0px 15px;
}

.NameListOrganiser__search {
  display: flex;
  margin-bottom: 5px;

  @include media-breakpoint-up(md)  {
    margin-bottom: 0px;
  }
}

.NameListOrganiser__search--name-selected {
  @extend .NameListOrganiser__search;
  @include media-breakpoint-up(lg)  {
    margin-bottom: 5px;
  }

  @include media-breakpoint-up(xl)  {
    margin-bottom: 0px;
  }
}

.NameListOrganiser__search__container {
  padding: 0px 10px 5px;
  flex: 1 1 auto;
  overflow: hidden;
}
